@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to Star Hotel</h1>
    <p>If you are looking for the most comfortable rooms with the best prices you are at the right place. <a href="@Url.Action("Index", "Room")">  click here to find the room you want</a>.</p>
</div>
